*{
    
    font-size: 20px;
}
body{
    display: flex;
    flex-direction: column;
min-height: 100vh;
}
.logo{
    margin:0px;
    padding: 0%;
}
.nav{
    display:flex;
    background: #333;
    color: white;
   justify-content: space-between;
}
.nav .nav-link ul{
    list-style:none;
     display: flex;
      padding:0% 15px;
}
.nav .nav-link ul li a{
    text-decoration:none;
    margin: 0px 10px;
    color: white;
}
/*home section */
.hero-sec{
   background:#333;
}
.hero-sec header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;
    font-size: 30px;
}
/*about section*/
.about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    color: white;
}
.about-me img{
    height: 250px;
    width: 650px;
}
/*skills*/
.skill{
    text-align: center;
    background-color: pink;
}
.skill button{
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
    color:white ;
background:grey;
}
/*project section*/
.project-sec{
    background-color: lightskyblue;
    text-align: center;
    
     

}
.all-project{
    display: flex;

   justify-content: space-around;

}
 .all-project .project-card{
    background-color: azure;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
   justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 350px;
     box-shadow:2px 2px 5px rgba(0,0,0,0.3);
     object-fit: cover;
}

.project-sec .project-card img{
 height: 230px;
 width: 350px;
 object-fit: cover;
}
.project-sec .project-card .project-button a{
    text-decoration: none;
    color: black;
    border: 2px ;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 5px;
   
}
/*contact me */
.contact-sec {
    background-color: cadetblue;
    text-align: center;
}

.contact-sec .name{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.contact-sec .gmail{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.contact-sec .msg{
    display: flex;
    gap:8px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.contact-sec button{
    background: #333;
    color: white;
    padding: 8px 40px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
}
.contact-sec .contact-link{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap:30px;
    padding:5px;
    
}
.contact-sec .contact-link a{
    text-decoration:none;
    color: azure;
    
}